<h1>Books</h1>

<% @books.each do |book|%>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>Title:<%= link_to book.title,book_path(book.id)%></p>
  <p>Opinion:<%= book.body %></p>
</div>
<% end %>
